In [1]:
import pandas as pd

In [2]:
#bank = pd.read_csv("Datasets/bank.csv")
bank = pd.read_csv("preprocessed_datasets/bank.csv")
bank.head()

,age,balance,day,default_bool,housing_bool,loan_bool,y,job_blue-collar,job_entrepreneur,job_housemaid,...,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown,campaign_cleaned,previous_cleaned
0,59,2343,5,0,1,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
1,56,45,5,0,0,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
2,41,1270,5,0,1,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
3,55,2476,5,0,1,0,1,False,False,False,...,False,True,False,False,False,False,False,True,1.0,0.0
4,54,184,5,0,0,0,1,False,False,False,...,False,True,False,False,False,False,False,True,2.0,0.0

In [4]:
X=bank.drop(columns='y')
y=bank['y']
X.to_csv("preprocessed_datasets/bank_data.csv", index=False)
y.to_csv("preprocessed_datasets/bank_target.csv", index=False)