In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("Datasets/fitness_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                2000 non-null   int64
 1   height_cm          2000 non-null   int64
 2   weight_kg          2000 non-null   int64
 3   heart_rate         2000 non-null   float64
 4   blood_pressure     2000 non-null   float64
 5   sleep_hours        1840 non-null   float64
 6   nutrition_quality  2000 non-null   float64
 7   activity_index     2000 non-null   float64
 8   smokes             2000 non-null   object
 9   gender             2000 non-null   object
 10  is_fit             2000 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 172.0+ KB

In [17]:
df

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,smokes,gender,is_fit
0,56,152,65,69.6,117.0,7.5,2.37,3.97,0,F,1
1,69,186,95,60.8,114.8,7.5,8.77,3.19,0,F,1
2,46,192,103,61.4,116.4,7.5,8.20,2.03,0,F,0
3,32,189,83,60.2,130.1,7.0,6.18,3.68,0,M,1
4,60,175,99,58.1,115.8,8.0,9.95,4.83,1,F,1
...,...,...,...,...,...,...,...,...,...,...,...
1995,52,173,98,60.7,106.1,7.5,1.54,3.25,1,M,1
1996,61,186,74,51.4,123.8,9.4,8.63,3.15,0,M,1
1997,77,198,89,76.7,103.6,8.3,1.98,3.36,1,M,0
1998,62,190,63,80.7,115.9,6.7,9.21,2.39,1,F,0
1999,51,166,78,89.3,101.8,8.3,4.42,1.02,1,M,0

In [11]:
df.describe()

,age,height_cm,weight_kg,heart_rate,blood_pressure,sleep_hours,nutrition_quality,activity_index,is_fit
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,1840.000000,2000.000000,2000.000000,2000.000000
mean,49.114000,174.53300,83.540500,70.288600,119.908850,7.513315,5.035140,2.999040,0.399500
std,17.926564,14.37175,25.852534,11.846339,14.578032,1.502031,2.864156,1.136383,0.489918
min,18.000000,150.00000,30.000000,45.000000,90.000000,4.000000,0.000000,1.000000,0.000000
25%,34.000000,162.00000,64.000000,62.100000,109.700000,6.500000,2.547500,2.037500,0.000000
50%,49.000000,174.00000,83.000000,70.250000,120.000000,7.500000,5.065000,2.980000,0.000000
75%,65.000000,187.00000,102.000000,78.425000,129.800000,8.600000,7.470000,3.950000,1.000000
max,79.000000,199.00000,250.000000,118.600000,171.200000,12.000000,10.000000,4.990000,1.000000

In [13]:
print(df['smokes'])

df['smokes'] = (
    df['smokes']
    .replace({'yes': 1, 'no': 0, 'Yes': 1, 'No': 0})
    .astype(int)
)

print(df['smokes'])

0       0
1       0
2       0
3       0
4       1
       ..
1995    1
1996    0
1997    1
1998    1
1999    1
Name: smokes, Length: 2000, dtype: int64
0       0
1       0
2       0
3       0
4       1
       ..
1995    1
1996    0
1997    1
1998    1
1999    1
Name: smokes, Length: 2000, dtype: int64

In [14]:
df['sleep_hours'] = df['sleep_hours'].fillna(df['sleep_hours'].median())

In [15]:
Q1 = df['weight_kg'].quantile(0.25)
Q3 = df['weight_kg'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

below_lower = (df['weight_kg'] < lower_bound).sum()
above_upper = (df['weight_kg'] > upper_bound).sum()

print(f" WartoÅ›ci odstajÄ…ce w 'weight_kg':")
print(f" - poniÅ¼ej dolnego progu ({lower_bound:.2f}): {below_lower}")
print(f" - powyÅ¼ej gÃ³rnego progu ({upper_bound:.2f}): {above_upper}")
print(f" - razem outlierÃ³w: {below_lower + above_upper}\n")

ðŸ”Ž WartoÅ›ci odstajÄ…ce w 'weight_kg':
 - poniÅ¼ej dolnego progu (7.00): 0
 - powyÅ¼ej gÃ³rnego progu (159.00): 21
 - razem outlierÃ³w: 21

In [16]:
df = df[(df['weight_kg'] >= lower_bound) & (df['weight_kg'] <= upper_bound)]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1979 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1979 non-null   int64
 1   height_cm          1979 non-null   int64
 2   weight_kg          1979 non-null   int64
 3   heart_rate         1979 non-null   float64
 4   blood_pressure     1979 non-null   float64
 5   sleep_hours        1979 non-null   float64
 6   nutrition_quality  1979 non-null   float64
 7   activity_index     1979 non-null   float64
 8   smokes             1979 non-null   int64
 9   gender             1979 non-null   object
 10  is_fit             1979 non-null   int64
dtypes: float64(5), int64(5), object(1)
memory usage: 185.5+ KB
None

In [18]:
df['gender'] = df['gender'].map({"M":1, "F":0})

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1979 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                1979 non-null   int64
 1   height_cm          1979 non-null   int64
 2   weight_kg          1979 non-null   int64
 3   heart_rate         1979 non-null   float64
 4   blood_pressure     1979 non-null   float64
 5   sleep_hours        1979 non-null   float64
 6   nutrition_quality  1979 non-null   float64
 7   activity_index     1979 non-null   float64
 8   smokes             1979 non-null   int64
 9   gender             1979 non-null   int64
 10  is_fit             1979 non-null   int64
dtypes: float64(5), int64(6)
memory usage: 185.5 KB
None

In [22]:
X = df.drop(columns='is_fit')
y = df['is_fit']



X.to_csv("preprocessed_datasets/gym_data.csv", index=False)
y.to_csv("preprocessed_datasets/gym_target.csv", index=False)

In [23]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd


X = pd.read_csv("preprocessed_datasets/gym_data.csv")
y = pd.read_csv("preprocessed_datasets/gym_target.csv").squeeze()

#X = X.drop(columns='ST_Slope')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = GradientBoostingClassifier()
model.fit(X_train, y_train)
print(accuracy_score(model.predict(X_test), y_test))

feature_importance_df = pd.DataFrame({
    'Feature': X.columns,
    'Importance': model.feature_importances_
})


feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
feature_importance_df

0.7710437710437711

             Feature  Importance
7     activity_index    0.276540
6  nutrition_quality    0.174758
8             smokes    0.169743
0                age    0.119055
2          weight_kg    0.059471
5        sleep_hours    0.050666
9             gender    0.041763
4     blood_pressure    0.040999
1          height_cm    0.036197
3         heart_rate    0.030809