In [50]:
import numpy as np
import pandas as pd

In [51]:
hearts = pd.read_csv("Datasets/heart_disease.csv")
hearts.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [52]:
hearts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [53]:
hearts.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [54]:
hearts['Sex'] = hearts['Sex'].map({'M': 1, 'F': 0})
hearts['ChestPainType'] = hearts['ChestPainType'].map({'TA': 1, 'ATA': 0, 'NAP': 2, 'ASY': 3})
hearts['RestingECG'] = hearts['RestingECG'].map({'Normal': 1, 'ST': 0, 'LVH': 2})
hearts['ExerciseAngina'] = hearts['ExerciseAngina'].map({'Y': 1, 'N': 0})
hearts['ST_Slope'] = hearts['ST_Slope'].map({'Up': 1, 'Flat': 0, 'Down': 2})
hearts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int64
 2   ChestPainType   918 non-null    int64
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int64
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    int64
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int64
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 86.2 KB

In [55]:
count_zeros = (hearts['Cholesterol'] == 0).sum()

# liczba wszystkich niepustych wartości
count_total = hearts['Cholesterol'].notna().sum()

# udział zer (w procentach)
share_zeros = count_zeros / count_total * 100

print(f"Liczba zer: {count_zeros}")
print(f"Liczba wszystkich: {count_total}")
print(f"Udział zer: {share_zeros:.2f}%")

Liczba zer: 172
Liczba wszystkich: 918
Udział zer: 18.74%

In [56]:
# wybierz tylko te wiersze, gdzie cholesterol = 0
chol0 = hearts[hearts['Cholesterol'] == 0]

# policz ile z nich ma HeartDisease = 0 i 1
counts = chol0['HeartDisease'].value_counts()

print("Cholesterol = 0 i brak choroby serca (HeartDisease=0):", counts.get(0, 0))
print("Cholesterol = 0 i choroba serca (HeartDisease=1):", counts.get(1, 0))

Cholesterol = 0 i brak choroby serca (HeartDisease=0): 20
Cholesterol = 0 i choroba serca (HeartDisease=1): 152

In [60]:
import math

medians = hearts[hearts['Cholesterol'] > 0].groupby('HeartDisease')['Cholesterol'].median()
hearts.loc[(hearts['Cholesterol'] == 0) & (hearts['HeartDisease'] == 0), 'Cholesterol'] = math.ceil(medians[0])
hearts.loc[(hearts['Cholesterol'] == 0) & (hearts['HeartDisease'] == 1), 'Cholesterol'] = math.ceil(medians[1])
print("Cholesterol Summary After Imputation:")
print(hearts['Cholesterol'].describe())

hearts.to_csv("preprocessed_datasets/heartDisease.csv")

Cholesterol Summary After Imputation:
count    918.000000
mean     244.586057
std       53.353543
min       85.000000
25%      214.000000
50%      246.000000
75%      267.000000
max      603.000000
Name: Cholesterol, dtype: float64